/nbproject
test.*
/vendor/
composer.lock
clover.xml
.phpunit.result.cache
tests/hello.txt
tests/hello2.txt
tests/json.json
.php_cs.cache
php-cs-fixer-v2.phar
.idea/*
php-cs-fixer.phar
.php-cs-fixer.cache
*.Identifier
/tests/.phpunit.cache
/.vscode
