<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="tests/loader.php" stderr="true">
    <php>
    </php>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <file>./webfiori/http/AbstractWebService.php</file>
            <file>./webfiori/http/APIFilter.php</file>
            <file>./webfiori/http/RequestParameter.php</file>
            <file>./webfiori/http/WebServicesManager.php</file>
            <file>./webfiori/http/Request.php</file>
            <file>./webfiori/http/Response.php</file>
            <file>./webfiori/http/Uri.php</file>
            <file>./webfiori/http/HttpHeader.php</file>
            <file>./webfiori/http/HeadersPool.php</file>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="clover.xml"/>
    </logging>
    <testsuites>
        <testsuite name="Tests">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
</phpunit>